@import url('reset.css');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Hind+Madurai:wght@400;600&display=swap');

body {
	font-family: 'Hind Madurai', sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: #000;
}

.container {
	max-width: 1100px;
	margin: 0 auto;
}

/* Btn start */

.btn {
	max-width: 170px;
	padding: 14px 50px;
	font-weight: 600;
	line-height: 22px;
	color: #FAFAFA;
	background-color: #D23166;
	border-radius: 5px;
}

.btn:hover {
	cursor: pointer;
	background-color: #a92652;
}

/* Btn end */

/* Header start */

.header {
	position: sticky;
	top: 0;
	z-index: 10;
	width: 100%;
	padding: 25px 0 0 0;
	margin-bottom: 15px;
	background-color: #fff;
}

.nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	font-weight: 600;
}

.header__logo {
	width: 80px;
	height: 80px;
}

.header__menu {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.menu__item a,
.menu__item a:visited {
	margin-right: 80px;
	font-size: 14px;
	line-height: 16px;
	color: #150101;
	opacity: 0.6;
}

.menu__item:last-child {
	margin: 0;
}

.menu__item a:hover {
	color: #D23166;
}

/* Header end */

/* Intro start */

.intro {
	width: 100%;
	height: 85vh;
	padding: 15vh 0 0 0;
	background-color: #fbf0f4;
	color: #0F0101;
}

.intro__inner {
	background-image: url('../img/intro/intro.png');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: right 10px top;
}

.suptitle {
	margin-bottom: 5px;
	font-weight: 600;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.1em;
}

.intro__title {
	margin-bottom: 35px;
	font-family: 'Fredoka One', cursive;
	font-weight: 400;
	font-size: 57.33px;
	line-height: 120.5%;
	opacity: 0.8;
}

.title__span {
	color: #D23166;
}

.subtitle {
	margin-bottom: 50px;
	font-size: 18px;
	line-height: 27px;
	opacity: 0.6;
}

.btn {}


/* Intro end */

/* Footer start */

.footer {
	width: 100%;
	background-color: #0A0808;
	color: #fff;
}

.footer__inner {
	width: 100%;
	padding: 30px 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.footer__about {
	display: flex;
	flex-direction: column;
	align-items: start;
}

.footer__logo {
	margin-bottom: 10px;
}

.footer__text {
	max-width: 210px;
	margin-bottom: 25px;
	font-size: 12px;
	line-height: 17px;
	letter-spacing: 0.01em;
	opacity: 0.7;
}

.footer__socials {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.social__img {
	margin-right: 10px;
}

.social__img:last-child {
	margin: 0;
}

.footer__links {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.links__menu {
	margin-right: 100px;
}

.links__menu:last-child {
	margin: 0;
}

.links__item a,
.links__item a:visited {
	color: inherit;
	opacity: 0.8;
	font-size: 12px;
}

.links__item a:hover{
	opacity: 1;
}

.footer__newsletter {
	display: flex;
	flex-direction: column;
}

.newsletter__title {
	margin-bottom: 15px;
}

.button-inside {
	position: relative;
}

.newsletter__input {
	width: 100%;
	max-width: 300px;
	padding: 10px 15px;
	opacity: 0.5;
	border: 2px solid #D64374;
	border-radius: 5px;
}

.newsletter__btn {
	position: absolute;
	right: 0px;
	top: 0px;
	padding: 12px;
	background-color: #D64374;
	border-radius: 5px;
}

.newsletter__btn:hover{
	background-color: #ae305a;
}

/* Footer end */

/* Products start */

.products {
	width: 100%;
}

.products__title {
	margin-bottom: 65px;
	text-align: center;
	font-weight: 600;
	font-size: 44px;
	line-height: 61px;
	color: #150101;
}

.products__nav {
	margin-bottom: 45px;
}

.nav__item a,
.nav__item a:visited {
	font-size: 18px;
	line-height: 21px;
	color: inherit;
	opacity: 0.6;
}

.nav__item a:hover {
	opacity: 1;
	border-bottom: 3px solid #D64374;
}

.products__cards {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.products__card {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.card__img {
	max-width: 580px;
	margin-right: 80px;
}

.card__img:last-child {
	margin: 0;
}

.card__description {
	display: flex;
	flex-direction: column;
	align-items: start;
	margin-right: 80px;
}

.card__description:last-child {
	margin: 0;
}

.card__title {
	margin-bottom: 10px;
	font-weight: 600;
	font-size: 26px;
	line-height: 36px;
}

.card__text {
	margin-bottom: 35px;
	opacity: 0.7;
}

.card__price {
	margin-bottom: 15px;
	font-weight: 600;
	font-size: 26px;
	line-height: 36px;
}

.btn {}

/* Products end */